body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    box-sizing: border-box;
}
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#right {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 16vh 84vh;
}
#side {
    font-weight: 700;
    background-color: rgb(57, 127, 202);
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(50px, 1fr) 4fr 5fr;
    z-index: 1;
    justify-content: center;
    padding-top: 30px;
}
li {
    list-style: none;
}
#dash {
    grid-row: 1/2;
    max-height: 50px;
}
#home {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#settings {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#header {
    box-sizing: border-box;
    background-color: white;
    padding: 10px 25px;
    display: grid;
    grid-template-rows: 2fr 3fr;
    /*height: 17vh;*/
    z-index: 1;
    box-shadow: 2px 1px 3px 2px rgba(127, 116, 70, 0.263);
    position: relative;
}
#header, #header button {
    font-weight: 700;
}
#header1 img {
    width: 20px;
}
#header1 {
    display: grid;
    grid-template-columns: 70vh 1fr;
    grid-row: 1/2;
}
#s70 {
    grid-column: 1/2;
    display: grid;
    align-items: center;
    grid-template-columns: 4vh 1fr;
}
#searchbar {
    background-color: gray;
    height: 20px;
    border-radius: 8px;
}
#t30 {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 120px 120px;
    justify-self: end;
    gap: 10px;
}
#header1 #ava{
    width: 40px;
    border-radius: 25px;
    justify-self: center;
}
#bell {
    justify-self: end;
}
#header2 {
    display: grid;
    grid-template-columns: 70vh 1fr;
}
#header2 #ava {
    width: 60px;
    border-radius: 25px;
    grid-row: 2/3;
}
#header2left {
    display: grid;
    grid-template-columns: 12vh 1fr;
}
#header2right button{
    background-color: rgb(69, 134, 202);
    appearance: none;
    border: none;
    border-radius: 16px;
    width: 80px;
    height: 30px;
    padding: 4px;
}
#header2right {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 120px 120px;
    justify-self: end;
    gap: 10px;
}
#header button, #side {
    color: white;
}
#new {
    justify-self: end;
}
#upload {
    justify-self: center;
}
#share {
    justify-self: start;
}
#main {
    box-sizing: border-box;
    background-color: rgb(202, 229, 255);
    grid-row: 2/3;
    /*height: 83vh;*/
    display: grid;
    grid-template-columns: 73% 27%;
    z-index: 0;
}
#mainleft {
    display: grid;
    grid-template-rows: 7% 1fr 7%;
}
#yourProjects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0px 20px;
    margin-right: 20px;
}
.projects {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 3px 4px 7px 1px rgba(127, 116, 70, 0.259);
    padding: 5% 5% 5% 10%;
    display: grid;
    grid-template-rows: 15% 70%;
    border-left: 8px solid orange;
}

#mainright {
    display: grid;
    grid-template-rows: 7% 39.5% 7% 39.5% 7%;
}

.projectParagraph {
    font-size: 14px;
    color:gray;
}
.projInnerHeader {
    font-size: 16px;
    font-weight: 700;
}
/*.projects:nth-child(1){
    font-size: 16px;
    font-weight: 700;
}*/
.prL {
    /*justify-self: end;*/
}
.mainRcont, .mainRTrend {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    width: 95%;
    z-index: 1;
    box-shadow: 3px 4px 7px 1px rgba(127, 116, 70, 0.259);
    display: grid;
}
.mainRcont {
        grid-template-rows: 33% 33% 33%;
}

.mainRcont > div {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 5px 35px;
    flex-direction: column;
}
.mainRcont .bold {
    font-weight: bold;
    font-size:medium;
}
.mainRcont .stext {
    font-size: small;
    color: gray;
}
.transparent {
    opacity: 100%;
    box-shadow: 0px 2px 0px 0px rgba(160, 159, 159, 0.405);
    padding-bottom: 15px;
}
.mainRTrend {
    grid-template-rows: 25% 25% 25% 25%;
    padding: 5px 25px;
    align-items: center;
}
.mainRTrend > div {
    display: flex;
    font-size: medium;
}
.mainRTrend img {
    width: 60px;
    height: 55px;
}
.mainHeader {
    font-weight: 700;
    font-size: large;
    padding-left: 20px;
    align-self: end;
}
.p3Icons {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    height: 20px;
    z-index: 4;
}
.p3Icons > div {
    width: 20px;
}
#home img, #settings img {
    width: 21px;
}

#home > div, #settings > div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
#dash img {
    width: 35px;
}
#dash {
   display: flex; 
   gap: 10px;
   align-items: center;
   font-size: 28px;
}