body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    box-sizing: border-box;
}
#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#right {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 16vh 84vh;
}
#side {
    font-weight: 700;
    background-color: rgb(57, 127, 202);
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(50px, 1fr) 4fr 5fr;
    z-index: 1;
}
li {
    list-style: none;
}
#dash {
    grid-row: 1/2;
    max-height: 50px;
}
#home {
    grid-row: 2/3;
}
#settings {
    grid-row: 3/4;
}
#header {
    box-sizing: border-box;
    background-color: white;
    padding: 10px 25px;
    display: grid;
    grid-template-rows: 2fr 3fr;
    /*height: 17vh;*/
    z-index: 1;
    box-shadow: 2px 1px 3px 2px rgba(127, 116, 70, 0.263);
    position: relative;
}
#header, #header button {
    font-weight: 700;
}
#header1 img {
    width: 20px;
}
#header1 {
    display: grid;
    grid-template-columns: 70vh 1fr;
    grid-row: 1/2;
}
#s70 {
    grid-column: 1/2;
    display: grid;
    align-items: center;
    grid-template-columns: 4vh 1fr;
}
#searchbar {
    background-color: gray;
    height: 20px;
    border-radius: 8px;
}
#t30 {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 120px 120px;
    justify-self: end;
    gap: 10px;
}
#header1 #ava{
    width: 40px;
    border-radius: 25px;
    justify-self: center;
}
#bell {
    justify-self: end;
}
#header2 {
    display: grid;
    grid-template-columns: 70vh 1fr;
}
#header2 #ava {
    width: 60px;
    border-radius: 25px;
    grid-row: 2/3;
}
#header2left {
    display: grid;
    grid-template-columns: 12vh 1fr;
}
#header2right button{
    background-color: rgb(69, 134, 202);
    appearance: none;
    border: none;
    border-radius: 16px;
    width: 80px;
    height: 30px;
    padding: 4px;
}
#header2right {
    grid-column: 2/3;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 120px 120px;
    justify-self: end;
    gap: 10px;
}
#header button, #side {
    color: white;
}
#new {
    justify-self: end;
}
#upload {
    justify-self: center;
}
#share {
    justify-self: start;
}
#main {
    box-sizing: border-box;
    background-color: rgb(202, 229, 255);
    grid-row: 2/3;
    /*height: 83vh;*/
    display: grid;
    grid-template-columns: 73% 27%;
    padding: 5px 10px;
    z-index: 0;
}
#mainleft {
    display: grid;
    /*grid-template-columns: 45% 45%;*/
    grid-template-rows: 4% 26% 26% 26%;
    gap: 20px;
}
#yourP {
    grid-column: 1/3;
}
.projects {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    width: 95%;
    z-index: 1;
    box-shadow: 3px 4px 7px 1px rgba(127, 116, 70, 0.259);
    padding-right: 5px;
    margin-right: 10px;
    /*box-shadow:  4px 0px 0px 0px yellowgreen inset;*/
}

#mainright {
    display: grid;
    grid-template-rows: 7% 39% 7% 39%;
}
h5 {
    position: relative;
    top: -25px;
    left: 30px;
}
p {
    font-size: smaller;
    position: relative;
    top: -45px;
    left: 30px;
    margin-right: 35px;
}
.prL {
    justify-self: end;
}
.mainRcont, .mainRTrend {
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    width: 95%;
    z-index: 1;
    box-shadow: 3px 4px 7px 1px rgba(127, 116, 70, 0.259);
    display: grid;
}
.mainRcont {
        grid-template-rows: 33% 33% 33%;
}

.mainRcont > div {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 5px 35px;
    flex-direction: column;
}
.mainRcont .bold {
    font-weight: bold;
    font-size: small;
}
.mainRcont .stext {
    font-size: small; 
}
.transparent {
    opacity: 100%;
    box-shadow: 0px 2px 0px 0px rgba(160, 159, 159, 0.405);
    padding-bottom: 15px;
}
.mainRTrend {
    grid-template-rows: 25% 25% 25% 25%;
    padding: 5px 25px;
    align-items: center;
}